
{% extends 'base.html' %}
{% block title %} Dodaj post {% endblock %}
{% block content %}
    <div>
        {% if user.is_authenticated %}
            <div>
                <h1>Dodaj post:</h1>
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.media }}
                    {{ form.as_p }}
                    <button class="btn btn-dark">Post</button>
                </form>
            </div>
        {% else %}
            <div>
                <h1>Ups nie ma takiej strony :/</h1>
            </div>
        {% endif %}

        </br></br></br></br>
    </div>  
    
    
<script>
    var name = "{{ user.id }}" ;
    
    document.getElementById("login-user").value = name ;

</script>

{% endblock %}





                