<!--My card -->
<div class="card card-comments mb-3 wow fadeIn">
    <div class="card-header bg-dark text-white"><strong>O autorze</strong></div>
    <div class="card-body">
        <div class="container">
            <div class="row">
                <div class="media d-block d-md-flex mt-3 ">
                    <div class="col-3">
                        <img class="rounded mx-auto img-fluid" src='{{object.author.profile_picture.url}}' alt="author image">
                    </div>
                    <div class="col-9">
                        <div class="media-body m-2 text-md-left ml-md-3 ml-0">
                            <h5 class="mt-0 font-weight-bold">{{object.author.nickname}}
                                <a href="" class="pull-right">
                                    <a style="text-decoration: none;" href="{% url 'profile' object.author.id %}">
                                    <i class="fa fa-reply"></i>
                                </a>
                            </h5>
                            {{object.author.biogram}}
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!--/.Comments-->

{% if comments %}

    <div style="height: auto;">
        <div class="card">
<!--Comments amount-->
            <div class="card-header bg-dark text-white"> 
                <strong>Komentarze ({{comments_amount}})</strong>
            </div>
<!--Add comment-->
            <div class="card-body">
                
                {% if user.is_authenticated %}

                <form method="POST">{% csrf_token %}
                    <div class="form-group"><!-- Comment -->
                        <label for="replyFormComment">Twój komentarz</label>
                        <textarea class="form-control" id="the_comment" name="the_comment"rows="5" required></textarea>
                    </div>
                    <div class="text-center mt-4">
                        <div>
                            <button class="btn btn-outline-dark btn-sm" style="width: 100%;" type="submit">Dodaj komentarz</button>
                        </div>
                    </div>
                </form>

                {% else %}
                <h1>Zarejstruj się aby dodac komentarz.</h1>
                {% endif %}

            </div>
<!--Comments-->
            <hr>
        {% for comment in comments %}
            {% if not comment.parent %}
    <!--Main comments-->
            <div class="card-body mb-0 pb-0">
                <div>
                    <div style="display: inline-block;">
                        <img src='{{comment.user.profile_picture.url}}' width="30" class="user-img rounded-circle mr-2"> 
                   </div>

                    <div style="display: inline-block;">
                        <a class="text-dark" style="text-decoration: none;" href="{% url 'profile' comment.user.nickname %}"><strong>{{comment.user.nickname}}</strong> &nbsp;</a>
                    </div>

                    <div style="display: inline-block;">
                        <span class="text-muted text-sm"> <i class="fa fa-clock-o" aria-hidden="true"></i> 
                        {{comment.date}}</span> 
                    </div>

                    <div style="display: inline-block; float: right;" class="pr-3"> 
                        <div class="dropdown">
                            <a class="bg-white text-dark" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fa fa-bars" aria-hidden="true"></i>
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <li><a class="dropdown-item" href="{% url 'report-comment' comment.slug %}">Zgłoś</a></li>
                                {% if comment.user == current_user %}
                                <li><a class="dropdown-item" href="{% url 'edit-comment' comment.slug %}">Edytuj</a></li>
                                <li><a class="dropdown-item" href="{% url 'delete-comment' comment.slug %}">Usuń</a></li>
                                {% endif %}
                                
                            </ul>
                        </div>   
                    </div>       
                </div>
                <div class="pb-3 ">
                    <p class="card-text">{{comment.body}}</p>
                </div> 
            <!--AddReply-->                 
                

                <div class="pb-3">
                    &nbsp;<a class="text-sm btn btn-outline-dark btn-sm" data-bs-toggle="collapse" href="#add_reply{{comment.id}}" role="button" aria-expanded="false" aria-controls="collapseExample">Odpowiedz</a>
                </div>
                
                <div class="collapse" id="add_reply{{comment.id}}">
                    <div class="card-body">
                                
                        {% if user.is_authenticated %}
                
                        <form method="POST">{% csrf_token %}
                            <div class="form-group"><!-- Comment -->
                                <input type="hidden" name="comment_parent" value="{{comment.id}}">
                                <textarea class="form-control" id="the_reply" name="the_reply" rows="5" required></textarea>
                            </div>
                            <div class="text-center mt-4">
                                <div>
                                    <button class="btn btn-outline-dark btn-sm" style="width: 100%;" type="submit">Dodaj odpowiedź</button>
                                </div>
                            </div>
                        </form>
                
                        {% else %}
                        <h1>Zarejstruj się aby odpowiedziedź na komentarz</h1>
                        {% endif %}
                
                    </div>
                </div>

                
                   

            <!--ViewReplys-->
                <div class="mt-1 text-center">
                    <a class="btn btn-outline-dark btn-sm" style="width: 100%;" data-bs-toggle="collapse" href="#reply_list{{comment.id}}" role="button" aria-expanded="false" aria-controls="collapseExample">Wyświetl {{comment.reply_amount}} odpowiedzi</a>
                </div>
                
                <hr>
            </div>  
            {% endif %}
    <!--Replys-->
            <div class="collapse" id="reply_list{{comment.id}}">
                {% for child_comment in comment.children %}
                
                    <div class="card-body mb-0 pt-0">
                        <div class="px-5">
                            <div style="display: inline-block;">
                                 <img src='{{child_comment.user.profile_picture.url}}' width="30" class="user-img rounded-circle mr-2"> 
                            </div>

                            <div style="display: inline-block;">
                                <a class="text-dark" style="text-decoration: none;" href="{% url 'profile' child_comment.user.nickname %}"><strong>{{child_comment.user.nickname}}</strong> &nbsp;</a>
                            </div>
        
                            <div style="display: inline-block;">
                                <span class="text-muted text-sm"> <i class="fa fa-clock-o" aria-hidden="true"></i> 
                                {{child_comment.date}}</span> 
                            </div>

                            <div style="display: inline-block; float: right;" class="pr-3"> 
                                <div class="dropdown">
                                    <a class="bg-white text-dark" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-bars" aria-hidden="true"></i>
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    <!--teraz bedę robił tutaj -->

                                        
                                        <li><a class="dropdown-item" href="{% url 'report-comment' child_comment.slug %}">Zgłoś</a></li>
                                        {% if child_comment.user == current_user %}
                                            <li><a class="dropdown-item" href="{% url 'edit-comment' child_comment.slug %}">Edytuj</a></li>
                                            <li><a class="dropdown-item" href="{% url 'delete-comment' child_comment.slug %}">Usuń</a></li>
                                        {% endif %}
                                    </ul>
                                </div>   
                            </div>  

                            <div class="pb-3 ">
                                <small>
                                    <div class="badge badge-primary">
                                        <a style="text-decoration: none;" href="{% url 'profile' child_comment.reponse_to %}">Odpowiada {{child_comment.reponse_to}}</a>
                                    </div>
                                </small>
                                <p class="card-text">{{child_comment.body}}</p>
                            </div>   
                        <!--ad reply to reply-->
                            <div class="pb-3">
                                &nbsp;<a class="text-sm btn btn-outline-dark btn-sm" data-bs-toggle="collapse" href="#add_reply_to_reply{{child_comment.id}}" role="button" aria-expanded="false" aria-controls="collapseExample">Odpowiedz</a>
                            </div>
                            
                            <div class="collapse" id="add_reply_to_reply{{child_comment.id}}">
                                <div class="card-body">
                                            
                                    {% if user.is_authenticated %}
                                    <form method="POST">{% csrf_token %}
                                        <div class="form-group"><!-- Comment -->
                                            <input type="hidden" name="reply_parent" value="{{child_comment.id}}">
                                            
                                            <textarea class="form-control" id="the_reply_to_reply" name="the_reply_to_reply" rows="5" required></textarea>
                                        </div>
                                        <div class="text-center mt-4">
                                            <div>
                                                <button class="btn btn-outline-dark btn-sm" style="width: 100%;" type="submit">Dodaj odpowiedź</button>
                                            </div>
                                        </div>
                                    </form>
                            
                                    {% else %}
                                    <h1>Zarejstruj się aby odpowiedziedź na komentarz</h1>
                                    {% endif %}
                            
                                </div>
                            </div>
            
                        
                            <hr>
                        </div>
                    </div>
                
                {% endfor %}
            </div>
        {% endfor %}
        </div>  
    </div>
{% else %}

    <div class="card">
        <div class="card-header bg-dark text-white"> 
            <strong>Komentarze ({{comments_amount}})</strong>
        </div> 
        <div class="card-body">
            {% if user.is_authenticated %}
            <!-- Default form reply -->
            <form method="POST">{% csrf_token %}
                <div class="form-group"><!-- Comment -->
                    <label for="replyFormComment">Twój komentarz</label>
                    <textarea class="form-control" id="the_comment" name="the_comment"rows="5" required></textarea>
                </div>
                <div class="text-center mt-4">
                    <div>
                        <button class="btn btn-outline-dark btn-sm" style="width: 100%;" type="submit">Dodaj komentarz</button>
                    </div>
                </div>
            </form>

            {% else %}
            <h1>Zarejstruj się aby dodac komentarz.</h1>
            {% endif %}

            <!-- Default form reply -->
        </div>  
    </div>  

{% endif %}











               




  
  
  
