

<!-- ten html wyglada praktycznie identycznie dla tego że to jakby będzie zaciągać spowrotem dane do updatu-->
{% extends 'base.html' %}
{% block title %} Usuń post {% endblock %}
{% block content %}
    {% if user.is_authenticated %}
        <h1>Usuń post:</h1>
        <br>

        <div class="form-group">  
            <form method="POST">
            <strong>Jesteś pewny że chcesz usunąć post: "{{post.title}}"  ? </strong>
            <br>
            <br>
            <!--potrzebujemy tokena ale nie potrzebujemy formy-->
            {% csrf_token %}
            <button class="btn btn-dark">Usuń post!</button>
            </form>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>

    {% else %}
        <h1>Ups nie ma takiej strony :/</h1>

    {% endif%}

{% endblock %}
                