
{% extends 'base.html' %}
{% block title %} Zmień Hasło {% endblock %}

{% block content %}

<h1>Zmień Hasło</h1>


<form method="POST">
    {% csrf_token %}
<!-- mogę tutaj zrobić as_table/p/ po prostu paragraf albo tabela albo ul (rodzaj formatowania textu)-->
   
<div class="container">
	<div class="row">
		<div class="col-sm-4">
		    
		    <label>Aktualne hasło</label>
		    <div class="form-group pass_show"> 
                {{ form.old_password}}  
            </div> 
		       <label>Nowe hasło</label>
            <div class="form-group pass_show"> 
                {{ form.new_password1}}
            </div> 
		       <label>Powtórz hasło</label>
            <div class="form-group pass_show"> 
                {{ form.new_password2}}
            </div> 
     
            
            <div class="form-group pass_show mt-2"> 
                <button class="btn btn-dark">Zapisz nowe hasło</button>
            </div>
		</div>  
	</div>
</div>

</br>
{% if form.errors%}
    <ul>
        {% for error in form.errors%}
        <li><p style="color: red">{{error}}</p></li>
        {% endfor %}
    </ul>
{% endif %}

<ul class="mt-3">
    <li>Your password can’t be too similar to your other personal information.</li>
    <li>Your password must contain at least 8 characters.</li>
    <li>Your password can’t be a commonly used password.</li>
    <li>Your password can’t be entirely numeric.</li>
</ul>

{% endblock %}
                